
.bg-table-title {
    background-color:#3c3e47!important;
}

.logo-event-page {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    width: 120px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('../../images/logo-sympla-light.svg');
    background-position: 50% 50%;
    background-size: 91px;
    background-repeat: no-repeat;
}

.event-page h1 {
    font-size: 24px;
    line-height: 1.4;
}

.table-tickets {
    color: #50525f;
    z-index: 1000;
}

.table-tickets table {
    width: 100%;
    /*background-color: #fff;*/
}

.table-tickets table tr {
    background-color: #fff;
}

.table-tickets table tr {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px 0 5px 10px;
    font-size: 11px;
}

.table-tickets table td {
    padding: 5px 10px 5px 10px
}

.table-tickets table td a.btn-primary {
    width: 100%;
}

.table-tickets .title {
    background-color: #3B3C3C;
    background-color: rgba(39, 40, 40, 0.9);
    font-size: 17px;
    border-top: 1px solid #3B3C3C;
    border-left: 1px solid #3B3C3C;
    border-right: 1px solid #3B3C3C;
    border-bottom: 0;
    height: 40px;
    color: #fff;
}

.table-tickets h4 {
    color: #fff;
    font-size: 14px;
}

.table-tickets .title .row {
    margin:0;
    padding: 6px 0 6px 0;
}

.table-tickets .opt-panel {
    text-align: right;
    padding-right: 7px;
    min-width: 95px;
}

.table-tickets .opt {
    font-size: 20px;
    padding: 0 1px 0 1px;
}

.table-tickets .opt-clicked {
    color: #50525f;
}


.table-tickets span.number {
    font-size: 15px;
    display: inline-block;
    width: 20px;
    text-align: center;
    position: relative;
    top: -4px;
}


.table-tickets .table-header-title {
    background-color:#3c3e47;
    color: #fff;
    padding: 10px;
}

.table-tickets .note {
    font-size: 11px;
}

.table-tickets .item {
}

.table-tickets .item .opt a, .table-tickets .item .opt span {
    padding: 2px;
    font-size: 21px;
    text-align: center;
}

.table-tickets-ext {
    position: relative !important;
    margin: 10px 10px 10px 10px !important;
    top: 0 !important;
}

.table-tickets-ext .title {
    border-top: 1px solid #3B3C3C !important;
    border-left: 1px solid #3B3C3C !important;
    border-right: 1px solid #3B3C3C !important;
}

.table-tickets .btn-primary {
    font-weight: 500;
    font-size: 10px;
    padding: 16px 5px 16px 5px;
}

.buy-container {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

.fixed-buy-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 100;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.fixed-buy-container .btn {
    margin-bottom: 15px;
}

.exteded-buy-container .col-lbl {
    display: none;
}

.exteded-buy-container .lbl-total {
    padding-top: 8px;
    font-size: 10px;
    color: #C2C2C2;
}

.exteded-buy-container .lbl-tickets-total {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.exteded-buy-container .btn {
    font-weight: 500 !important;
    font-size: 10px !important;
    padding: 16px 5px 16px 5px !important;
    /*    margin-bottom: 15px !important;*/
}

.buy-container a {
    width: 100%;
}

.pay-with-container {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.pay-with {
    font-weight: bold;
}

.event-share {
    /*margin-bottom: 20px;*/
}

.event-share span, .event-share a {
    padding: 0 5px 0 5px;
    color: #777;
}

.event-section {
    padding-bottom: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.event-section .c-value {
    padding: 0;
    background-color: inherit;
    cursor: default;
}

.event-section .c-value:before {
    content: none;
}

.no-icon-section {
    padding-bottom: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.event-section:nth-child(odd) {
    background-color: #f6f6f6 !important;
}

.event-section:nth-child(even) {
    background-color: #fff !important;
}

.event-section h3 {
    font-size: 20px;
    /*margin-left: 20px;*/
}
.event-navbar {
    width: 100%;
    /*background-color: #eeeeee;*/
    background-color: rgba(40, 188, 244, 0.96);
    height: 49px;
    min-height: 47px;
}

.event-section .icon-section {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    top: 24px;
    left: 9px;
    text-align: center;
    display: inline-block;
    width: 28px;
    display: none;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .event-section {
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 15px;
    }

    .no-icon-section {
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .event-section .icon-section {
        left: -20px;
        display: inline-block;
    }

    .event-section h3 {
        margin-left: 0;
    }

    .event-section .c-value:before {
        content: " ";
        height: 37px;
        width: 5px;
        position: absolute;
        pointer-events: none;
        left: 0;
        background-color: #eee;
        top: 15px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .event-section .c-value {
        /*        padding: 5px 10px;
                background-color: #f5f5f5;*/
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.event-navbar a {
    margin: 0 20px 0 0;
    color: #fff;
}

.padding-top-bottom-80 { padding: 40px 0 40px 0; }
.padding-top-bottom-40 { padding: 40px 0 40px 0; }
.padding-top-bottom-20 { padding: 20px 0 20px 0; }


.full-width-image-logo {
    display: inline-block;
    width: 100%;
    height: 350px;
    min-height: 300px;
    max-height: 400px;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
}

.full-width-image-banner {
    display: inline-block;
    width: 100%;
    height: 350px;
    max-height: 400px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.organizer-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.kill-padding {
    padding: 0 !important;
}

#wrapper.template1 {background: url("../../images/bg-texture-content-out-event-page-1.png") repeat 0 0; }
#wrapper.template2 {background: url("../../images/bg-texture-content-out-event-page-2.png") repeat 0 0; }
#wrapper.template3 {background: url("../../images/bg-texture-content-out-event-page-3.png") repeat 0 0; }
#wrapper.template4 {background: url("../../images/bg-texture-content-out-event-page-4.png") repeat 0 0; }
#wrapper.template5 {background: url("../../images/bg-texture-content-out-event-page-5.png") repeat 0 0; }
#wrapper.template6 {background: url("../../images/bg-texture-content-out-event-page-6.png") repeat 0 0; }


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .table-tickets {
        position: relative;
        margin-bottom: 20px;
        top: 0;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .table-tickets {
        position: relative;
        top: -41px;
        /*        z-index: 1000;*/
        margin-bottom: -5000px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.control-label-confirm {
    font-weight: bold;
    text-align: right;
}

/* <editor-fold defaultstate="collapsed" desc="Media queries bootstrap rules"> */
.navbar {
    /*  -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;*/
    /*-moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;*/
    background: #000;
    height: 50px;
    padding: 5px 0 5px 0;
    z-index: 100;
}

.navbar a {
    color: #fff;
}

.navbar .navbar-nav li a {
    color: #fff;
    padding: 8px 12px;
}

.navbar .navbar-nav li {
    margin-top: 0;
}


.navbar a.btn-outline, .navbar .btn-outline, .navbar a.btn-outline:link {
    border: 1px #fff solid;
}

.navbar .navbar-nav {
    margin: 0 5px 0 5px;
}

#nav-sm {
    /*    -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;*/
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    margin: 12px -16px 0 -16px;
}

#nav-sm li {
    display: block;
}

#nav-sm li a {
    width: 100%;
}

#nav-sm li:hover, #nav-sm li:active, #nav-sm li a:hover, #nav-sm li a:active {
    background-color: transparent;
    color: #00aeef;
}

#nav-sm ul {
    margin: 10px 0;
    width: 100%;
}

.navbar .navbar-toggle:hover {
    background-color: transparent;
    border: 0;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #nav-sm {
        /*        -webkit-transition: all 0.4s ease-out;
                -moz-transition: all 0.4s ease-out;
                -o-transition: all 0.4s ease-out;
                transition: all 0.4s ease-out;*/
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
        padding: 0;
        margin: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .navbar .navbar-nav li a {
        color: #fff;
        padding: 5px 12px;
    }

    .navbar .navbar-nav li {
        margin-top: 3px;
    }

    #nav-sm li {
        display: inline-block;
    }

    #nav-sm ul {
        margin: 0 5px 0 5px;
    }

    .table-tickets .title {
        background-color: #3B3C3C;
        background-color: rgba(39, 40, 40, 0.9);
        font-size: 17px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        border-bottom: 0;
        height: 40px;
        color: #fff;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.navbar .navbar-toggle {
    /* margin-top: 3px; */
    /* margin-bottom: 3px; */
    /* outline: none; */
    /*  -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;*/
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    border: 0;
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 7px 10px 0 0;
}

.navbar .navbar-toggle .icon-menu:hover {
    color: #00aeef;
}

.navbar .navbar-toggle .icon-menu:focus, .navbar .navbar-toggle .icon-menu:visited {
    color: #fff;
}

.navbar-header {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .container {
        width: 714px;
    }

    .navbar .container {
        width: 714px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 992px) {
    .container {
        width: 922px;
    }

    .navbar .container {
        width: 922px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
    .navbar .container {
        width: 1100px;
        padding-left: 0;
        padding-right: 0;
    }
}
/* </editor-fold> */

/* <editor-fold defaultstate="collapsed" desc="Media queries image-banner and image-logo"> */
@media (min-width : 120px) {
    .full-width-image-banner {
        min-height: 80px;
        max-height: 125px;
    }
}

@media (min-width : 480px) {
    .full-width-image-banner {
        min-height: 103px;
        max-height: 203px;
    }
}

@media (min-width: 768px) {
    .full-width-image-banner {
        min-height: 162px;
        max-height: 262px;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .full-width-image-banner {
        min-height: 305px;
        max-height: 406px;
    }

    .full-width-image-logo {
    }
}
/* </editor-fold> */

/* <editor-fold defaultstate="collapsed" desc="balloon css"> */
.bubble
{
    position: relative;
    padding: 0px;
    background: #f6f6f6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #dfdfdf solid 1px;
    padding: 10px 10px 10px 10px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f6f6f6 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 20px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #dfdfdf transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -11px;
    left: 20px;
}

.bubble-panel
{
    position: relative;
    padding: 0px;
    background: #f6f6f6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #dfdfdf solid 1px;
    padding: 10px 10px 10px 10px;
}

.bubble-right
{
    position: relative;
    padding: 0px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #dfdfdf solid 1px;
    padding: 10px 10px 10px 10px;

}

.bubble-right:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 18px;
}

.bubble-right:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #dfdfdf;
    display: block;
    width: 0;
    z-index: 0;
    left: -11px;
    top: 18px;
}
/* </editor-fold> */

/* <editor-fold defaultstate="collapsed" desc="btn-group-payment css"> */
.btn-group-payment div,
.btn-group-payment input {
    padding: 5px 0;
}

.btn-group-payment {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #dfdfdf solid 1px;
}

.btn-group-payment .btn:not(:first-child):not(:last-child)
{
    border-left: #dfdfdf solid 1px;
    border-right: #dfdfdf solid 1px;
}

.btn-group-payment .btn,
.btn-group-payment a.btn,
.btn-group-payment a.btn:visited,
.btn-group-payment a.btn:link
{
    color: #50525f;
    text-transform: none;
    margin: 0;
}


.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    margin: 0;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    margin: 0;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    margin: 0;
}


.btn-group-payment .active,
.btn-group-payment .btn:active,
.btn-group-payment .btn-default:active,
.btn-group-payment .btn-primary:active,
.btn-group-payment .btn-default.active,
.btn-group-payment .btn-primary.active
{
    background: #f6f6f6;
    color: #fff;
}


@media (max-width: 768px) {
    .btn-group-responsive .pull-left, .btn-group-responsive .pull-right {
        float: none;
    }
    .btn-group-responsive .btn {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0 !important;
    }

    .btn-group-payment .btn:not(:first-child):not(:last-child)
    {
        border-top: #dfdfdf solid 1px;
        border-bottom: #dfdfdf solid 1px;
        border-left: 0;
        border-right: 0;
    }

    .btn-group-responsive .btn:last-child {
        margin-bottom: 0px;
    }
}
/* </editor-fold> */

.btn-whitespace-normal { white-space: normal; }

.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}
.input-group-unstyled .input-group-addon {
    font-size: 20px;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.panel-border {
    border-radius: 4px;
    border: #dfdfdf solid 1px;
    padding: 25px 25px 25px 25px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 100%;
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #777;
}


.circle-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 10px auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -moz-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 3px 0 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 3px 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 3px 0 4px rgba(0, 0, 0, 0.15);
}

.circle-icon .fa {
    position: relative;
    top: 5px;
    color: white;
}

.circle-icon span {
    position: relative;
    top: 1px;
    color: white;
    font-size: 2em;
}

.timeline-line {
    background: #DFDFDF;
    height: 5px;
    position: relative;
    top: 36px;
}


.timeline-done {
    background-color: #74C5B3;
}

.timeline-pending {
    background-color: #EBEBEB;
}

.timeline-pending span {
    color: #A4A4A4;
}


/*@media only screen and (min-width : 320px) {

    .table-tickets {
        position: relative;
        margin-bottom: 20px;
        top: 0;
    }

}*/

/* <editor-fold defaultstate="collapsed" desc="Event Page, Contact Organizer"> */
#registration-form .form-group {
    color: #50525f;
}

#order-form .form-group {
    color: #50525f;
}

#order-form .row {
    margin-left: -15px;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .btn.contact-org-btn, a.btn.contact-org-btn {
        font-size: 10px !important;
        padding: 13px 8px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .btn.contact-org-btn, a.btn.contact-org-btn {
        font-size: 12px !important;
        padding: 13px 30px !important;
    }

    #order-form .row {
        margin-left: 0;
    }
}

#org-description a { color: #919191; }

/* </editor-fold> */

#discount-panel {
    padding: 10px 0;
}

#discount-panel a {
    font-size: 13px;
}

nav a.nav-link {
    color: #fff;
}

nav a.nav-link:hover, nav a.nav-link:focus, nav a.nav-link:visited {
    color: #00aeef;
}

/* <editor-fold defaultstate="collapsed" desc="Icomoon stack classes"> */
.icon-stack {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
}

.icon-stack-item {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-mastercard-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}
.icon-mastercard-stack .icon-mastercard-stack1 {
    color: #ED192D;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-mastercard-stack .icon-mastercard-stack2 {
    color: #F9AB1E;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-mastercard-stack .icon-mastercard-stack3 {
    color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-amex-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-amex-stack .icon-amex-stack1 {
    color: #007AC9;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-amex-stack .icon-amex-stack2 {
    color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-visa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-visa-stack .icon-visa-stack1 {
    color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-visa-stack .icon-visa-stack2 {
    color: #002E88;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-visa-stack .icon-visa-stack3 {
    color: #FCA900;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-diners-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-diners-stack .icon-diners-stack1 {
    color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-diners-stack .icon-diners-stack2 {
    color: #2656A0;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-diners-stack .icon-diners-stack3 {
    color: #000000;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-hipercard-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-elo {
    position: relative;
    display: inline-block;
    width: 1.4em;
    height: 2em;
    line-height: 0;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-hipercard-stack .icon-hipercard-stack1 {
    color: #961A1F;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.icon-hipercard-stack .icon-hipercard-stack2 {
    color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-paypal-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-paypal-stack span {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-paypal-stack .icon-paypal-stack1 {
    color: #FFFFFF;
}
.icon-paypal-stack .icon-paypal-stack2 {
    color: #003087;
}
.icon-paypal-stack .icon-paypal-stack3 {
    color: #009CDE;
}

.icon-bank001-stack {
    position: relative;
    display: inline-block;
    width: 1.4em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-bank001-stack span {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-bank001-stack .icon-bank001-stack1 {
    color: #FFF300;
}
.icon-bank001-stack .icon-bank001-stack2 {
    color: #0033AF;
}

.icon-bank237-stack {
    position: relative;
    display: inline-block;
    width: 1.4em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-bank237-stack span {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-bank237-stack .icon-bank237-stack1 {
    color: #ED1639;
}

.icon-bank341-stack {
    position: relative;
    display: inline-block;
    width: 1.4em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-bank341-stack span {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-bank341-stack .icon-bank341-stack1 {
    color: #2E3092;
}
.icon-bank341-stack .icon-bank341-stack2 {
    color: #FFF200;
}

.icon-boleto-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 1em;
    background-color: #FFF;
    padding: 3px;
    height: 26px;
    border-radius: 3px;
}

.icon-boleto-stack span {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.icon-boleto-stack .icon-boleto-stack1 {
    color: #FFFFFF;
}
.icon-boleto-stack .icon-boleto-stack2 {
    color: #000000;
}

.icon-stack-1x {
    font-size: 1em;
    height: 18px;
}

.icon-stack-1_5x {
    font-size: 1.5em;
    height: 26px;
}

/* Confirmation page */
.success-oval {
    width: 91px;
    height: 91px;
    background-color: #ffffff;
    box-shadow: 0 15px 40px 0 rgba(28, 36, 78, 0.15);
    border-radius: 50px;
    margin: 0 auto;
}

.success-oval .icon-icon-check {
    /*color: #2ac8bc;
    font-size: 45px;*/
    position: relative;
    top: 19px;
    left: 21px;
    padding: 25px;
}

.success-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1.1px;
    text-align: center;
    color: #50525f;
    padding: 30px 0 20px 0;
}

.success-text-bold {
    font-weight: bold;
    padding: 30px 0 10px 0;
}

.success-text-grey {
    color: #9b9b9b;
}

.success-border-dashed {
    display: inline-block;
    border: dashed 2px #ccc;
    padding: 0 20px;
    border-radius: 5px;
    text-align: center;
}
.success-border-dashed a.btn {
    margin: 0 0 20px 0;
}
.success-ordernum {
    font-size: 31px;
    font-weight: 100;
    padding: 15px 15px 5px 15px;
    display: inline-block;
    /*padding: 0 30px 0 0;
    margin: 10px 0;
    position: relative;
    top: 7px;*/
}
.success-trans {
    margin: 20px 0;
}
.success-trans .trans-approved-detail {
}


.whatsapp-status-panel {
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2feef;
    border: solid 1px #a6eaab;
    padding: 25px 15px 20px 15px;
}

.whatsapp-status-panel .whatsapp-check-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.58;
    text-align: left;
    color: #50525f;
    position: relative;
    top: -2px;
    left: 3px;
}

.whatsapp-status-panel .new-label {
    position: absolute;
    top: 0;
    left: 39px;
    padding: 3px 5px 3px 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(to bottom, #5cd768, #28b93f);
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.whatsapp-status-panel .wp-logo {
    position: absolute;
    top: 20px;
    right: 5px;
}

.whatsapp-status-panel .wp-logo img {
    width: 35px;
    height: 35px;
}

.btn-vr {
    background-color: #58C22E !important;
}
/*
@media (min-width: 1092px) {
    .success-border-dashed {
        display: block;
    }
}
*/

.ssmr-oval {
    width: 48px;
    height: 48px;
    border: solid 0.9px #dde0e4;
    display: block;
    border-radius: 50px;
}

.ssmr-icon {
    width: 24px;
    height: 16px;
    object-fit: contain;
    position: relative;
    top: 12px;
    left: 12px;
}

.ssmr-date {
    padding-right: 12px;
}

.ssmr-link-dates {
    font-weight: bold;
}

.ssmr-session {
    padding: 10px 0 10px 0;
    border-top: 1px solid #eaebed;
}

.ssmr-session:first-child {
    border-top: 0;
}

.ssmr-location {
    display: block;
    margin-right: 8px;
    padding-left: 24px;
    background-image: url(https://images.sympla.com.br/5e72c1802f38f.svg);
    background-position: 0px 6px;
    background-repeat: no-repeat;
    color: #000;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.container-sympla-streeming-mr {
    max-width: 1000px;
}
.container-sympla-streeming-max {
    width: 1035px;
}
.container-sympla-platform-external-min {
    max-width: 700px;
}
.container-sympla-platform-external-max {
    max-width: 1000px;
}

.event-title {
    display: flex;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
}
.event-title + .event-title {
    margin-top: 1rem;
}
.icone{
    margin-right: 9px;
}

.ssmr-header {
    margin: 8px 0 30px 10px;
    color: #91959c;
    font-size: 16px;
    line-height: 32px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
}

.ssmr-about-link {
    font-family: \'Open Sans\', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #0083ff;
}

.about-link {
    font-family: \'Open Sans\', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #0083ff;
}

.ssmr-info-calendar {
    display: block;
    margin-right: 8px;
    padding-left: 24px;
    background-image: url(https://images.sympla.com.br/5ea5ca8dc8723.svg);
    background-position: 0px 6px;
    background-repeat: no-repeat;
    color: #000;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.event-page-wrapper {
    padding: 0 0 40px 0;
}

.event-info-section {
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #ededed;
}

.event-info-section h1 {
    font-family: Raleway, sans-serif !important;
    font-size: 30px;
    line-height: 100%;
    font-weight: 900;
    letter-spacing: 0.2px;
}
